*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    max-width: 1440px;
    margin: auto;
}
nav{
    position: fixed;
    width: 100%;
}

.nav_border {
    display: grid;
    grid-template-columns: 0.6fr 2fr ;
    align-items: center;
    justify-items:right;
    border-bottom: 1px solid rgb(219,219,219);
    padding: 0.7rem 1.5rem 0.7rem 0rem;
   /* position: fixed; */
   background: white;
  

}

.logo{
    padding-top: 0.5rem;
}

.nav_section2{
    display: grid;
    grid-template-columns: 0.7fr 2fr ;
    align-items:center;
    justify-items:center;
    
}

.input_div{
    width: 16.5rem;
    height: 38;
    padding:  10px 0px 7px 15px;
    background: rgb(239,239,239);
    border: 1px solid rgb(239,239,239);
    border-radius: 9px;
   
}

.inner_input{
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    /* margin-right:  30rem; */
}
.inner_input p{
    color: rgb(142, 142, 142);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 16px;

}
#nav_icons{
    display: flex;
    column-gap: 1.3rem;
    margin-right: 5rem;
   
}
/* #nav_icons image{
    padding-right: 4rem;
} */
.profile_image img{
    width: 25px;
    height: 24px;
    border: 1px solid white;
    border-radius: 100px;
}
.profile_image{
    margin-top: 4px;
    
}
.main_cover{
    padding-top: 7rem;
}


/* Left body section */

/* story */


/* feed */

/* Right body section */
.flex_all{
    display: flex;
    flex-direction: row;
    /* align-items:flex-start; */
    justify-content:center;
    border: 1px solid gray;
    gap: 1.5rem;
    
}
.mid_left{
    border: 1px solid gray;

}
.story_update{

}
.mid_right{
    border: 1px solid gray;
    /* height: 10rem;
    width: 10rem; */

}

.right_profile img{
    width: 55px;
    height: 54px;
    border: 1px solid white;
    border-radius: 100px;
}
.another_flex{
    display: flex;
    margin-bottom: 1rem;
    align-items:center;
    justify-content:left;
    gap: 0.6rem;

}
.inner_flex{
    display: flex;
    /* margin-bottom: 1rem; */
    align-items:center;
    justify-content:space-between;
    border: 1px solid gray;
    width: 100%;
}
.see_all{
    margin-bottom: 1rem;margin-bottom: 1rem;
}

.suggested img{
    width: 32px;
    height: 31px;
    border: 1px solid white;
    border-radius: 100px;
}

.small_gray_text{
    color: rgb(143,143,143);

}